<div class="row">
	<div class="large-12-columns text-center">
		<h2>Main page</h2>
		<p><%= link_to "This is about the page", about_path %></p>
		<p><%= link_to "Testo", test_path %></p>
	</div>
</div>
